<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        
        <link rel="icon" href="/img/weather.png">
        <link rel ="stylesheet" href ="./css/styles.css">
    </head>
    <body>
        <div class = "main-content">
       {{>header}}
       <p>This site was created by Vivek Gaur.It uses data from mapbox.com and Openweathermap.com.This site will provide you with the current weather situation of your location </p>
        <img class ="portrait"src ="/img/portrait.png">
       </div>
       {{>footer}}
    </body>
</html>